@import "../../App.scss";
.container {
  height: 100%;
  border: 1px solid $primary-color;
  border-radius: $primary-radius;
  background-image: url("../../assets/bg3.jpeg");
  background-position: center;
  background-size: cover;

  display: flex;
  
}
